./log/*
log/*.log
log/development.log
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
db/development_structure.sql
public/uploads
spec/dummy/log
spec/dummy/tmp
spec/dummy/public/system/images
spec/dummy/puplic/assets/*
spec/dummy/public/system/uploads/*
spec/dummy/public/system/*
spec/dummy/public/uploads
spec/dummy/log*
spec/dummy/tmp*
index/*
*.swp
*.swo
.idea/
.idea/**/*
nbproject/*
*.war
db/schema.rb
tmp/*
wMake.bat
etc/web.xml
build/
build/* 
.bundle/
~/
~/*
*.knob
tmp
mysession.vi*
ruby-uuid
localhistory
test
prod
*.png
site/dev/images/galleries
